@charset "utf-8"; green		nt-size
div
{
font-family: 'Cambria', 'Hoefler Text', 'Liberation Serif', 'Times', 'Times New Roman', 'serif'; 
color: darkseagreen; 
font-size: 32px;
}

span {	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
	color: darkseagreen; 
	font-size: 32px;
		}